<?xml version='1.0' encoding='utf-8'?>
<widget id="it.lcfc.app" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>LCFC</name>
    <description>
      Applicazione ufficiale della Lega Calcio Friuli Collinare
    </description>
    <author email="informatica@lcfc.it" href="http://www.lcfc.it">
        Paolo Cantoni, Francesco Gentili
    </author>
    <access origin="*" />
    <content src="index.html" />

		<gap:plugin name="com.adobe.plugins.GAPlugin" version="2.3.1" />

		<feature name="http://api.phonegap.com/1.0/device" />
		<preference name="phonegap-version" value="3.5.0" />

		<icon src="icon.png" />

</widget>
